.DS_Store
node_modules
/dist
dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 解决github发送邮件 安全漏洞 问题
package-lock.json
yarn.lock